* {
	padding: 0;
	margin: 0;
}

header {
	margin: 0 auto;
	text-align: center;
}

header img {
	max-width: 720px;
	width: 100%;
}

body {
	background: #d9dadd;
}

.block {
	display: inline-grid;
	margin: 8px;
	vertical-align: middle;
}

.window {
	margin: 0 auto;
	text-align: center;
	max-width: 1280px;
}